<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlappyMax.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96DB087C2CD3CCA500EE2E01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96DB08952CD3CCA700EE2E01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96DB089F2CD3CCA700EE2E01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
